body{
    background-color: grey;
}
.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

